{% load component_tags static %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>장고 프로젝트</title>
    <link rel="stylesheet" href="{% static 'bootstrap/5.3.3/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="api-token" content="{{ API_TOKEN }}">

    {% component_css_dependencies %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<header class="header-container p-3 bg-dark text-white shadow-md">
    <div class="container" id="header-left">
        <div id="header-left">
            <a href="/" class="d-flex align-items-center">
                <img src="{% static 'images/home-3-fill.svg' %}" alt="Home" style="height: 24px;">
                <span class="fw-bold text-white">hyperLinker</span>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white"></a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
			    <input type="search"
				       id="searchInput"
				       class="form-control form-control-dark text-bg-dark"
				       placeholder="🔍 링크 검색어를 입력하세요..."
				       aria-label="Search">
			</form>



<div class="text-end" id="header-right">
    {% if not request.user.is_authenticated %}
        <div class="btn-group">
            <a href="{% url 'accounts:login' %}" class="btn btn-outline-light me-2">로그인</a>
            <a href="{% url 'accounts:signup' %}" class="btn btn-warning">회원가입</a>
            <a href="{% url 'accounts:google_login' %}" class="btn btn-google me-2">
                <img src="{% static 'images/google-fill.svg' %}" alt="Google">
                구글 로그인
            </a>
        </div>
    {% else %}

        <a href="{% url 'accounts:profile' %}" class="btn btn-outline-light me-2">프로필</a>


        <a href="#" class="btn btn-warning"
           onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
            로그아웃
        </a>

        <form id="logout-form" action="{% url 'accounts:logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
    {% endif %}
</div>

    </div>
</header>

<main class="py-5">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="text-body-secondary py-5">
    <div class="container">
        &copy; django - project - hyunji
    </div>
</footer>

{% if debug %}
    <script src="{% static 'htmx/1.9.11/htmx.js' %}"></script>
{% else %}
    <script src="{% static 'htmx/1.9.11/htmx.min.js' %}"></script>
{% endif %}
<script src="{% static 'bootstrap/5.3.3/js/bootstrap.min.js' %}"></script>
{% component_js_dependencies %}
<script src="{% static 'htmx/ext/hx-get-with-timestamp.js' %}"></script>
<script src="{% static "toast-messages.js" %}"></script>
<script src="{% static 'show-modal.js' %}"></script>
<script src="{% static 'search.js' %}"></script>

{% include "_messages_as_event.html" %}

</body>
</html>
